<h1>{{title}}</h1> 

A place to store your todos

<h2>Fliter your To-Dos</h2>

<ol>  
  <li *ngFor="let task of list">
    <!-- <button *ngIf="task.completed==false" (click)=CompleteTask(task)>Completed</button>  {{task.task}} -->
    <button *ngIf="task.completed==false" (click)="task.completed=true">Completed</button>  {{task.task}}
  </li>
</ol>
  <!-- 
<div *ngFor="let task of list">
-  {{task.completed}}  {{task.task}} 
</div> -->
<br />
<br />

<div *ngIf="task.completed==true">Congratulations, You've completed all your task!!</div>

<br />
<br />
<input type="text" #newtodo (keyup.enter)="AddToDo(newtodo.value);">
<button (click)="AddToDo(newtodo.value)">Add</button>  
